.skill{
  background-image: url("../img/4.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  .skill__content{
    padding: 100px 0;
    color: $color-2;
    position: relative;
    .skill__overlay{
      background-color: $color-overlay;
      position: absolute;
      height: 100%;
      width: 50%;
      top: 0;
      right: 0;
    }
    .row{
      align-items: center;
      .skill__left{
        text-align: center;
        h2{
          @include textStyle(24px, $color-2, normal);
          padding-bottom: 8px;
          letter-spacing: 6px;
        }
      }
      .skill__right{
        padding:0 30px;
        h3{
          @include textStyle(18px, $color-2, normal);
          line-height: 24px;
          letter-spacing: 2px;
          margin-bottom: 30px;
        }
        p{
          color: $color-2;
          line-height: 30px;
          margin-bottom: 30px;
        }
        .skill__progress{
          padding-top: 30px;
          .skill__progressBar{
            .skill__progressContent{
              height: 20px;
              background-color: $color-7;
              margin: 10px 0 50px;
              // position: relative;
              h6{
                // position: relative;
                z-index: 49;
                line-height: 20px;
                padding-left: 10px;
                @include textStyle(10px, $color-6, normal);
              }
            }
            .skill__progressNow{
              background-color: $color-2;
              position: absolute;
              left: 0;
              top: 0;
              height: 100%;
              &.skill__progressNow1{
                // width: 80%;
                // animation: progress1 2s 1;
                @include progressBarStyle(80%);
              }
              &.skill__progressNow2{
                // animation: progress2 2s 1;
                @include progressBarStyle(90%);
              }
              &.skill__progressNow3{
                // animation: progress3 2s 1;
                @include progressBarStyle(75%);
              }
            }
          }
        }
      }
    }
  }

  @include responsive("screen-768"){
    .skill__content{
      .skill__overlay{
        background-color: transparent;
      }
      .skill__left{
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
