/* align padding of section */
.section--align{
  padding: 100px 0;
}

/* Format for header content for section */
.headSection{
  text-align: center;
  h3{
    color: $color-3;
    line-height: 24px;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
    &:after{
      content: "";
      width: 60px;
      border-bottom: 3px solid $color-3;
      display: block;
      margin: 15px auto 0;
    }
  }
  .jobs_text{
    width: 58%;
    margin: 0 auto;
    padding-bottom: 50px;
    line-height: 25px;
    color: $color-4;
  }
}

/* Format section which has overlay and image */
.section__content{
  padding: 0;
  .section__item{
    padding: 0;
    position: relative;
    img{
      width: 100%;
    }
    .section__overlay{
      width: 100%;
      height: 100%;
      border: 20px solid rgba(0, 0, 0, .1);
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $color-overlaysection;
      opacity:0;
      transition: all 0.5s;
      .section__icon{
        position: absolute;
        top: 10%;
        width: 100%;
        transition: all .3s;
        i{
          @include textStyle(35px,$color-6,null);
          cursor: pointer;
        }
      }
      .section__text{
        position: absolute;
        bottom: 0;
        left: 50;
        width: 100%;
        transition: all .3s;
        h4{
          a{
            text-decoration: none;
            @include textStyle(14px,$color-6,normal);
            letter-spacing: 4px;
            // transition: all .3s;
            &:hover{
              color: $color-1;
            }
          }
        }
        p{
          margin: 0;
          a{
            text-decoration: none;
            @include textStyle(12px,$color-10,normal);
            letter-spacing: 3px;
            &:hover{
              color: $color-1;
            }
          }
        }
      }

    }
    &:hover{
      .section__overlay{
        opacity: 0.9;
      }
      .section__icon{
        top: 30%;
      }
      .section__text{
        bottom: 20%;
      }
    }
  }
}

/* Break line */
hr{
  border: 1px solid #eee;
  height: 0;
  opacity: 0.2;
  margin: 0;
}

/* Set margin container */
.paddingContainer{
  padding: 0 30px;
}